


.body{
margin: 0;
font-family: 'Kalam'
}

header {
    background-color: #2C1E1E;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 /* Ajustez la hauteur du logo */
.logo img {
    max-height: 100px; }
   


nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Style supplémentaire pour les liens au survol */
nav ul li a:hover {
    color: #dcb012;
} 


.carousel-container {
    width: 100%;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 100%;
    height: auto;
}

.boutique {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}
.produit {
    background-color: #250f0b;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 8px;
    text-align: center;
    border-radius: 10px;
}

img{
height: 8em;
}


footer {
    background-color: #b65f28;
    color: #2c1e1e;
    padding: 20px 20px;
    text-align: center;
    text-align: left
}

.footer-content {
    direction: flex;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left-zone,
.center-zone,
.right-zone {
    flex: 1;
}

.center-zone{
  text-align: center;
  margin: 5px;
}

.social-icon {
    display: inline-block;
    margin-right: 10px;
}

.social-icon img {
    width: 30px; 
    height: 30px;
}
/* Ajustez la taille des icônes selon vos besoins */
